@media screen and (min-width: 768px) {
  main{
    padding-bottom: 500px;
  }
  /* head-menu */
  .openbtn1:not(.active):hover span:nth-of-type(1) {
    top: 12px;
  }
  .openbtn1:not(.active):hover span:nth-of-type(3) {
    top: 24px;
  }
  .header-contact{
    transition: all .5s;
    &:hover{
      background-color: #000;
      i{
        color: #f6e500;
      }
    }
  }
  #g-nav{
    #g-nav-list{
      .page-link{
        width: 300px;
        .fade{
          margin-bottom: 2vw !important;
          font-size: 1.4vw !important;
          &::hover{
            transform: translateX(50px);
          }
          a{
            position: relative;
            display: block;
            transition: all .3s;
            padding-left: 10px;
            &:hover{
              color: #f6e500;
              padding-left: 40px;
            }
            &::before{
              content: '';
              /*絶対配置で線の位置を決める*/
              position: absolute;
              top:50%;
              /*線の形状*/
              width: 10%;
              height: 2px;
              background: #fff;
              /*アニメーションの指定*/
              transition: all .3s;
              transform: scale(0);
              transform-origin: left top;/*上部中央基点*/
            }
            &:hover::before{
              transform: scaleX(-1);
            }
          }
        }
      }
    }
  }
  /* header */
  header{
    .header-logo{
      img{
        width: 320px;
        height: 90px;
      }
      p{
        font-size: 15px;
      }
    }
    .header-img1{
      width: 165px;
      height: 60px;
    }
    .header-img2{
      width: 150px;
      height: 70px;
    }
    .header-img3{
      display: block;
      position: absolute;
      top: 360px;
      left: 150px;
      width: 77px;
      height: 25px;
    }
  }

  /* concept */
  #concept{
    .container{
      h2{
        font-size: 34px !important;
      }
      .centence{
        p{
          font-size: 15px !important;
          line-height: 35px !important;
        }
      }
      
      .img3{
        display: block;
        width: 72px;
        height: 23px;
        top: -10px;
        right: 220px;
      }
      .img4{
        display: block;
        width: 72px;
        height: 23px;
        top: 300px;
        left: 200px;
      }
    }
  }
  
  /* about-contents */
  #about-works{
    padding-top: 100px;
    .container{
      margin: 0 auto;
      .title{
        h2{
          font-size: 28px;
        }
        p{
          font-size: 15px;
        }
      }
      .work-contents{
        width: 950px;
        margin: 0 auto;
        justify-content: center;
        .content{
          width: 220px;
          margin-top: 30px;
          .img-area{
            background-color: #EDF2F4;
            height: 210px;
            width: 210px;
            margin: 0 auto;
            padding-top:0;
            opacity:0;
            border: 1px solid #fff;
            color: #eee;
            img{
              width: 60%;
              z-index: 2;
            }
            p{
              opacity: 0;
            }
          }
          .img-area:after{
            content: "";
            /*絶対配置で線の位置を決める*/
            position: absolute;
            top: 50%;
            left: 50%;
              /*線の形状*/
            width: 90%;
            height: 90%;
            border-radius: 50%;
            background-color: #fff;
            transform: translate(-50%, -50%) scale(1.1);
            /*アニメーションの指定*/
            transition: .3s ease; 
            z-index: 1;
          }
          .img-area:hover:after{
            transform: translate(-50%, -50%) scale(1);
            border: 1px solid #EDF2F4;
          }
          p{
            font-size: 18px;
            line-height: 25px;
          }
          .blog{
            animation-delay: .8s;
          }
          .writing{
            animation-delay: .4s;
          }
          .consul{
            animation-delay: .7s;
          }
          .poster{
            animation-delay: .1s;
          }
          .pamphlet{
            animation-delay: .6s;
          }
          .dm{
            animation-delay: .3s;
          }
          .illust{
            animation-delay: .2s;
          }
        }
      }
      .wave3{
        top: 815px;
      }
    }
  }

  /* design */
  #design{
    .container{
      display: flex;
      justify-content: center;
      max-width: 1000px;
      margin: 0 auto;
      .intro{
        width: 300px;
        padding: 0 40px;
        margin-top: 60px;
        .title{
          h2{
            font-size: 28px;
            line-height: 35px;
          }
          p{
            font-size: 15px;
          }
        }
        .centence{
          animation-delay: 1s;
          p{
            font-size: 15px;
            line-height: 25px;
          }
          .caution{
            font-size: 12px;
          }
        }
      }
      .slider{
        width: 660px;
        padding: 0;
        li{
          .img-area{
            p{
              font-size: 15px;
            }
          }
          .ttl{
            font-size: 18px;
          }
        }
        
      }
    }
    .slick-slide{
      padding-top: 25px;
    }
    .slick-slide.slick-current + .slick-active{
      transform: translateY(-25px);
    }
    
  }
  
  /* work */
  #work{
    .wave4{
      transform: rotateX(180deg);
    }
    .container{
      .title{
        margin-bottom: 40px;
        h2{
          font-size: 28px;
        }
        p{
          font-size: 15px;
        }
      }
      .work-step{
        display: flex;
        justify-content: center;
        .card{
          width: 250px;
          .step-ttl{
            .step-logo{
              width: 55px;
              height: 13px;
            }
            .num-logo{
              width: 63.5px;
              height: 45px;
            }
          }
          .centence{
            font-size: 15px;
            line-height: 30px;
          }
          .arrow-bottom{
            display: none;
          }
        }
        .step1{
          margin-right: 30px;
          .step-ttl{
            .num-logo{
              animation-delay: .5s;
            }
          }
          .centence{
            animation-delay: .5s;
          }
        }
        .step2{
          margin: 0 30px;
          .step-ttl{
            .num-logo{
              animation-delay: 1.5s;
            }
          }
          .text-span:after {
            transition-delay: 1.5s;
          }
          .centence{
            animation-delay: 1.5s;
          }
        }
        .step3{
          margin-left: 30px;
          .step-ttl{
            .num-logo{
              animation-delay: 2.5s;
            }
          }
          .text-span:after {
            transition-delay: 2.5s;
          }
          .centence{
            animation-delay: 2.5s;
          }
        }
        .arrow-left {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-top: 90px;
          border-bottom: 4px solid #fff;
          border-right: 4px solid #fff;
          transform: rotate(-45deg);
        }
      }
    }
  }

  /* contact */
  #contact{
    .container{
      .title{
        h2{
          font-size: 28px;
        }
        p{
          font-size: 15px;
        }
      }
      .texts{
        max-width: 600px;
        margin: 0 auto;
        .text{
          margin-bottom: 20px;
          width: 100%;
          label{
            font-size: 15px;
          }
        }
        .flex{
          display: flex;
          justify-content: space-between;
          .flex-text{
            margin-right: 20px;
          }
        }
        .radio-box{
          margin-bottom: 20px;
          .radio{
            label{
              font-size: 15px;
            }
          }
        }
      }
      .privacy{
        font-size: 15px;
        margin-bottom: 10px;
      }
      .require{
        margin-bottom: 10px;
      }
      .contact-btn{
        width: 300px;
        padding: 15px 0;
        transition: all .4s;
      }
      .contact-btn:hover{
        background-color: #2c5a6d;
        border: 1px solid #2c5a6d;
        color: #fff;
      }
    }
  }

  /* blog */
  #blog{
    .container{
      .title{
        margin-bottom: 40px;
        h2{
          font-size: 28px;
        }
        p{
          font-size: 15px;
        }
      }
      .articles{
        width: 750px;
        margin: 0 auto 40px;
        .article{
          display: flex;
          font-size: 15px;
          text-align: center;
          .date{
            margin-right: 30px;
          }
          .content{
            br{
              display: none;
            }
          }
        }
      }
      .btn{
        .list-btn{
          width: 300px;
          padding: 15px 0;
          transition: all .4s;
          &:hover{
            background-color: #2c5a6d;
            border: 1px solid #2c5a6d;
            color: #fff;
          }
        }
      }
    }
    .wave7{
      top: 485px;
    }
  }

  /* footer */
  #footer{
    .footer-in{
      height: 500px;
      .footer-img{
        img{
          width: 320px;
          height: 95px;
        }
      }
      .copyright{
        padding-top: 370px;
        font-size: 100%;
      }
    }
  }
}

/* モーダルウィンドウ */
.modaal-content-container{
  padding: 60px;
}
.modaal-wrapper *{
  h2{
    text-align: center;
    margin-bottom: 25px;
    font-size: 20px;
    letter-spacing: .1rem;
  }
  p{
    font-size: 15px;
    line-height: 30px;
  }
}